@use "../abstract/variables" as var;

main {
  min-height: 100vh;
  padding: 1.75rem 1rem;
  background-color: var.$main-bg;
  font-family: var.$font-rg;
  font-weight: 500;
  color: var.$text-cl;
  display: flex;
  justify-content: center;
  align-items: center;
}
