$white: hsl(0, 0%, 100%);
$main-bg: hsl(30, 38%, 92%);
$btn-bg: hsl(158, 36%, 37%);
$btn-hv: hsl(212, 21%, 14%);
$text-cl: hsl(228, 12%, 48%);

$font-rg: "Montserrat", sans-serif;
$font-tl: "Fraunces", serif;
